$icingtop: #abb2ed;
$icingdrips: #d9e0fa;
$sponge: #ffe6c6;
$cream: #fff8ed;
$jamAndcherry: #fe0046;
$cherrystem: #32a852;
$plate: #e7edff;

html {
  box-sizing: border-box;
  body {
    background-color: aliceblue;
    margin: 10px 0;
  }
}

.cake {
  height: 374px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;

  &__cherry {
    background-color: $jamAndcherry;
    min-height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 30px 50% 0 50%;

    &--stick {
      background-color: $cherrystem;
      min-height: 4px;
      width: 55px;
      border-radius: 2px;
      position: relative;
      top: -15px;
      left: 10px;
      transform: rotate(130deg);
    }
    &--shine {
      background-color: $cream;
      min-height: 4px;
      width: 3px;
      border-radius: 2px;
      position: relative;
      top: 2px;
      left: 5px;
      animation-name: shine;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      @keyframes shine {
        0% {
          background-color: $cream;
        }
        50% {
          background-color: $jamAndcherry;
        }
        100% {
          background-color: $cream;
        }
      }
    }
  }

  &__icing {
    width: 310px;
    position: relative;
    top: -60px;
    height: 60px;
    &--top {
      min-height: 10px;
      background-color: $icingtop;
      border-radius: 10px 10px 0 0;
    }
    &--bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--sect-a,
      &--sect-b {
        background-color: $icingdrips;
        transition: height 0.5s;
        width: 45px;
        border-radius: 0 0 50px 50px;
      }

      &--sect-a {
        height: 20px;
      }
      &--sect-b {
        height: 35px;
      }
      &--sect-c {
        height: 25px;
        width: 88.4px;
        border-radius: 0 0 70px 70px;
        background-color: $icingdrips;
        transition: height 0.5s;
      }

      &--sect-a:hover,
      &--sect-b:hover,
      &--sect-c:hover {
        height: 60px;
        cursor: pointer;
      }
    }
  }

  &__sponge {
    height: 60px;
    width: 300px;
    background-color: $sponge;
    display: flex;
    justify-content: center;
    &--filling {
      width: 310px;
      &--jam {
        border-radius: 5px;
        min-height: 7px;
        background-color: $jamAndcherry;

        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        @keyframes example {
          0% {
            background-color: $jamAndcherry;
          }
          50% {
            background-color: chocolate;
          }
          100% {
            background-color: $jamAndcherry;
          }
        }
      }
      &--cream {
        min-height: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &--section-a,
        &--section,
        &--section-b {
          width: 31px;
          background-color: $cream;
        }
        &--section-a {
          border-radius: 10px 0 10px 10px;
        }
        &--section {
          border-radius: 0 0 10px 10px;
        }
        &--section-b {
          border-radius: 0 15px 15px 15px;
        }
      }
    }
  }

  &__plate {
    background-color: $plate;
    min-height: 60px;
    width: 374px;
    border-radius: 50%;
    position: relative;
    top: -30px;
    z-index: -1;
  }
}
