html {
  box-sizing: border-box;
}
html body {
  background-color: aliceblue;
  margin: 10px 0;
}

.cake {
  height: 375px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}
.cake__cherry {
  background-color: #fe0046;
  min-height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 30px 50% 0 50%;
  position: relative;
}
.cake__cherry::before {
  content: "";
  position: absolute;
  background-color: #32a852;
  min-height: 4px;
  width: 55px;
  border-radius: 2px;
  top: -15px;
  left: 10px;
  transform: rotate(130deg);
}
.cake__cherry::after {
  content: "";
  background-color: #fff8ed;
  min-height: 4px;
  width: 3px;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 5px;
  animation-name: shine;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes shine {
  0% {
    background-color: #fff8ed;
  }
  50% {
    background-color: #fe0046;
  }
  100% {
    background-color: #fff8ed;
  }
}
.cake__icing-wrapper {
  width: 310px;
  position: relative;
  top: -65px;
  height: 60px;
}
.cake__icing-top {
  min-height: 10px;
  background-color: #abb2ed;
  border-radius: 10px 10px 0 0;
}
.cake__icing-bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cake__icing-bottom-wrapper .cake__icing-bottom-short,
.cake__icing-bottom-wrapper .cake__icing-bottom-long {
  background-color: #d9e0fa;
  transition: height 0.5s;
  width: 45px;
  border-radius: 0 0 50px 50px;
}
.cake__icing-bottom-wrapper .cake__icing-bottom-short {
  height: 20px;
}
.cake__icing-bottom-wrapper .cake__icing-bottom-long {
  height: 35px;
}
.cake__icing-bottom-wrapper .cake__icing-bottom-wide {
  height: 25px;
  width: 88.4px;
  border-radius: 0 0 70px 70px;
  background-color: #d9e0fa;
  transition: height 0.5s;
}
.cake__icing-bottom-wrapper .cake__icing-bottom-short:hover,
.cake__icing-bottom-wrapper .cake__icing-bottom-long:hover,
.cake__icing-bottom-wrapper .cake__icing-bottom-wide:hover {
  height: 60px;
  cursor: pointer;
}
.cake__sponge-wrapper {
  height: 60px;
  width: 300px;
  background-color: #ffe6c6;
  display: flex;
  justify-content: center;
}
.cake__sponge-filling {
  width: 310px;
}
.cake__sponge-filling .cake__sponge-filling-jam {
  border-radius: 5px;
  min-height: 7px;
  background-color: #fe0046;
  animation-name: colourChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes colourChange {
  0% {
    background-color: #fe0046;
  }
  50% {
    background-color: chocolate;
  }
  100% {
    background-color: #fe0046;
  }
}
.cake__sponge-filling .cake__sponge-filling-cream {
  min-height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cake__sponge-filling .cake__sponge-filling-cream span {
  width: 31px;
  background-color: #fff8ed;
  border-radius: 0 0 10px 10px;
}
.cake__plate {
  background-color: #e7edff;
  min-height: 60px;
  width: 375px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
